<div *ngFor="let item of markups">
  <app-canvas-drawer [markup]="item" [buildingBlock]="buildingBlock" [entityType]="entityType"></app-canvas-drawer>
</div>

<div>
  <button (click)="addNewMarkup()">Add new Markup</button>
</div>

<div *ngIf="!markups || newMarkup">
  <app-canvas-photo-uploader 
    [markups]="markups" 
    (markupAdded)="markupAdded($event)" 
    [builderComplexId]="buildingBlock.builderComplexId"
    [entityType]="entityType">
  </app-canvas-photo-uploader>
</div>

<button (click)="prev()">Prev</button>
<button (click)="next()">Next</button>