$padding-size: 40px;
$margin-size: 25px;
$border: 1px solid #cbcfdb;
$border-radius: 3px;
$active-font-color: #6485d8;
$disabled-font-color: #b3c0cb;
$default-font-color: #202020;

$active-button-color: #273361;
$hover-button-color: #cdd8f1;

$transition:  0.3s ease 0s;