$padding-size: 40px;
$margin-size: 25px;
$border: 1px solid #cbcfdb;
$border-radius: 3px;
$active-font-color: #6485d8;
$disabled-font-color: #b3c0cb;
$default-font-color: #202020;

$active-button-color: #273361;
$transparent-active-button-color: rgba(39, 51, 97, 0.5);
$hover-button-color: #cdd8f1;
$transparent-hover-button-color: rgba(205, 216, 241, 0.5);

$transition:  0.3s ease 0s;

$input-width: 420px;
$label-width: 270px;