<div class="wrapper">
  <h3>Основная информация о комплексе</h3>
  <div class="form-group">
    <label for="buildingComplex.title">Название корпуса: </label>
    <input id="buildingComplex.title" type="text" [(ngModel)]="buildingComplex.buildingComplex.title">
  </div>
  <div class="form-group">
    <label for="buildingComplex.constructionStart">Старт и конец строительства: </label>
    <span>старт</span>
    <!-- <input id="buildingComplex.constructionStart" type="text" [(ngModel)]="buildingComplex.buildingComplex.constructionStart"> -->
    <input (click)="constructionStart.open()" matInput class="date" id="buildingComplex.constructionStart" [matDatepicker]="constructionStart" placeholder="Verbose datepicker" [(ngModel)]="buildingComplex.buildingComplex.constructionStart">
    <!-- <mat-datepicker-toggle matSuffix [for]="constructionStart"></mat-datepicker-toggle> -->
    <mat-datepicker #constructionStart></mat-datepicker>
    <span>в експлуатацию</span>
    <!-- <input id="buildingComplex.constructionEnd" type="text" [(ngModel)]="buildingComplex.buildingComplex.constructionEnd"> -->
    <input (click)="constructionEnd.open()" matInput class="date" id="buildingComplex.constructionEnd" [matDatepicker]="constructionEnd" placeholder="Verbose datepicker" [(ngModel)]="buildingComplex.buildingComplex.constructionEnd">
    <!-- <mat-datepicker-toggle matSuffix [for]="constructionEnd"></mat-datepicker-toggle> -->
    <mat-datepicker #constructionEnd></mat-datepicker>
  </div>
  <div class="form-group">
    <label for="buildingComplex.price">Цена за кв. м: </label>
    <span>от</span>
    <input class="price" id="buildingComplex.price" type="text" [(ngModel)]="buildingComplex.buildingComplex.price.price">
    <span>до</span>
    <input class="price" id="buildingComplex.maxPrice" type="text" [(ngModel)]="buildingComplex.buildingComplex.maxPrice.price">
    <div class="currency-radio">
      <input type="radio" name="currency" id="USD" checked *ngIf="buildingComplex.buildingComplex.price.currency == 'USD'">
      <input type="radio" name="currency" id="USD" *ngIf="buildingComplex.buildingComplex.price.currency != 'USD'">
      <label for="USD">USD</label>
      <input type="radio" name="currency" id="EUR" checked *ngIf="buildingComplex.buildingComplex.price.currency == 'EUR'">
      <input type="radio" name="currency" id="EUR" *ngIf="buildingComplex.buildingComplex.price.currency != 'EUR'">
      <label for="EUR">EUR</label>
      <input type="radio" name="currency" id="UAH" checked *ngIf="buildingComplex.buildingComplex.price.currency == 'UAH'">
      <input type="radio" name="currency" id="UAH" *ngIf="buildingComplex.buildingComplex.price.currency != 'USD'">
      <label for="UAH">UAH</label>
    </div>
  </div>
  <div class="form-group">
    <label for="buildingComplex.video">Ссылка на видео: </label>
    <input id="buildingComplex.video" type="text" [(ngModel)]="buildingComplex.buildingComplex.video">
  </div>
</div>

<div class="wrapper">
  <h3>Адресс комплекса</h3>
  <div class="form-group">
    <input class="address" id="buildingComplex.address" type="text" [(ngModel)]="buildingComplex.buildingComplex.address">

  </div>
  <div id="map" height=300 width=300></div>

</div>

<div class="wrapper">
  <h3>Фото этапов строительства</h3>
  <p>Не допускаются к размещению фотографии с водяными знаками, чужих объектов и рекламные баннеры.</p>
  <p>Минимальное разрешение фото 800x600 px</p>

  <app-photos-uploader [(images)]="buildingComplex.images" [builderComplexId]="buildingComplex.buildingComplex.buildingComplexId"></app-photos-uploader>
</div>

<div class="wrapper">
  <h3>Описание комплекса</h3>
  <angular-editor [config]="editorConfig" [(ngModel)]="buildingComplex.buildingComplex.description"></angular-editor>
</div>

<div class="action-buttons">
  <button (click)="next()" style="visibility: hidden;">Next Button</button>
  <button (click)="next()">Далее</button>
</div>