@import '../../../assets/variables.scss';
#map {
  height: 200px;
}
.wrapper {
  position: relative;
  padding: $padding-size;
  border: $border;
  border-radius: $border-radius;
  background-color: white;
  margin-bottom: $margin-size;
  display: flex;
  flex-direction: column;
  .form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: $margin-size;
    align-items: center;
    label {
      width: $label-width;
    }
    input {
      width: $input-width;
      padding: 0 10px;
      line-height: 35px;
      border: $border;
      border-radius: $border-radius;
      font-size: 1rem;
      display: flex;
      &.full {

      }
      &.date {
        width: 100px;
        margin: 0 12px;
        cursor: pointer;
        text-align: center;
        &:last-child {
          margin-right: 0;
        }
      }
      &.price {
        width: 80px;
        margin: 0 10px;
        &:last-child {
          margin-right: 0;
        }
      }
      &.address {
        width: $input-width + $label-width;
      }
      &[type='radio'] {
        display: none;        
        & + label {
          cursor: pointer;
          color: $active-font-color;
          border-radius: $border-radius;
          display: flex;
          height: 37px;
          line-height: 36px;
          width: 51px;
          margin: 0 2px;
          justify-content: center;
          transition: $transition;
          &:hover {
            background-color: $hover-button-color;
          }
        }
        &:checked + label {
          background-color: $active-button-color;
          color: white;
        }
      }
    }
    .currency-radio {
      display: flex;
      flex-direction: row;
    }
  }
  p {
    font-weight: 200;
    font-size: .9rem;
    margin: 0;
  }
  
}

.action-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  & > button {
    border: none;
    outline: none;
    line-height: $padding-size;
    height: $padding-size;
    width: 170px;
    border-radius: $border-radius;
    font-size: 1rem;
    cursor: pointer;
    transition: $transition;
    &:first-child {
      color: $active-font-color;
      background-color: $transparent-hover-button-color;
      background-color: $hover-button-color;
      &:hover {
      }
    }
    &:last-child {
      color: white;
      background-color: $transparent-active-button-color;
      background-color: $active-button-color;
      &:hover {
      }
    }
  }
}